<div class="row">
    <div class="col-md-12">
        <div class="mx-auto mb-1 mt-4 d-flex  align-items-end justify-content-between">
            <h2 class="font-weight-light mb-1">{{title}} ({{year}})</h2>
            <div class="btn-group">
                <button href="edit" class="ux-edit-movie btn btn-outline-info"><span class="fa fa-edit"></span></button>
            </div>
            <button href="delete" class="ux-delete-row btn btn-outline-danger" hidden><span class="fa fa-trash-alt"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mx-auto">
            <div class="card">
                <div class="card-body px-0 py-0">
                    <div class="container px-5 py-4">
                        <div class="row my-3">
                            <div class="col m-1">
                                <div class="text-muted">TITLE</div>
                                <div>{{title}}</div>
                            </div>
                            <div class="col m-1">
                                <div class="text-muted">DIRECTOR</div>
                                <div>{{director}}</div>
                            </div>
                            <div class="col m-1">
                                <div class="text-muted">GENRE</div>
                                <div>{{genre}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-1">
                                <div class="text-muted">RATING</div>
                                <div><i class="fa fa-star text-warning"></i> {{rating}}/10</div>
                            </div>
                            <div class="col m-1">
                                <div class="text-muted">YEAR</div>
                                <div>{{year}}</div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <hr/>
                    <div class="container px-5 py-4">
                        <div class="row">
                            <div class="col">
                                <div class="ux-comments">
                                    <h5>COMMENTS</h5>
                                    {{#each comments}}
                                        <div class="row comment-mock comment-{{this.id}}">
                                            <div class="col">
                                                <div class="mt-3 g-mb-30 media-comment d-flex">
                                                    <img class="rounded-circle mr-3"
                                                         src="https://www.gravatar.com/avatar/{{this.gravatar}}?s=50"
                                                         height="50" width="50">
                                                    <div class="media-body">
                                                        <div class="d-flex">
                                                            <h5 class="h5 mb-0">{{this.author}}</h5>
                                                            <a title="{{java2jsDate this.timestamp}}"><span
                                                                    class="ml-2 text-muted text-lowercase">{{formatTime
                                                                    this.timestamp}}</span></a>
                                                        </div>
                                                        <p>{{this.comment}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="row comment-mock comment-{{this.id}}">
                                        <div class="col">
                                            <div class="mt-3 g-mb-30 media-comment d-flex">
                                                <a title="{{this.author}}">
                                                    <img class="ux-avatar rounded-circle mr-3"
                                                         src="{{this.gravatar}}" height="50" width="50">
                                                </a>
                                                <div class="media-body">
                                                    <form class="form-comment">
                                                            <textarea class="form-control" placeholder="Message..."
                                                                      name="comment"></textarea>
                                                        <button class="btn float-right btn-primary my-3 ux-send-comment"
                                                                type="submit">Comment
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
