<div class="row">
    <div class="col-md-12">
        <div class="mx-auto mb-3 mt-3">
            <h5 class="display-5">{{title}} ({{year}})</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mx-auto">
            <div class="card">
                <div class="card-body px-0 py-0">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div>TITLE</div>
                                <div>{{title}}</div>
                            </div>
                            <div class="col">
                                <div>DIRECTOR</div>
                                <div>{{director}}</div>
                            </div>
                            <div class="col">
                                <div>GENRE</div>
                                <div>{{genre}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>RATING</div>
                                <div><i class="fa fa-star text-warning"></i> {{rating}}/10</div>
                            </div>
                            <div class="col">
                                <div>YEAR</div>
                                <div>{{year}}</div>
                            </div>
                            <div class="col"></div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5>COMMENTS</h5>
                            <div class="ux-comments">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
